
#iAmInPane {
    -fx-background-color: rgb(213, 38, 181);
}

#welcome-text {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-fill: red;
}

#operation {
	-fx-background-color: rgb(78, 245, 232);
}

#result {
	-fx-background-color: rgb(180, 253, 11);
}